.App {
  min-height: 100%;
  background: inherit;
}

.AppContainer {
  margin: auto 48px;
  padding: 0 20px !important;
}

@media (max-width: 768px) {
  .AppContainer {
    margin: auto 0px;
  }
}

.AppPage {
  background: #e5f2f7;
  padding: 40px 0;
}

.AppSider {
  background: inherit;
  margin: 0 40px;
}

.AppSider .ant-layout-sider-zero-width-trigger {
  background: rgb(0, 127, 173);
  top: -32px;
}

.ant-layout-sider-collapsed {
  margin: 0;
}

.AppForm {
  margin-top: 12px;
  width: 100%;
  max-width: 512px;
}

.ant-form-item-label {
  font-weight: bold;
}

.ant-picker {
  width: 100%;
}

.SearchTree {
  background: inherit;
}

.AppButton {
  background: rgb(0, 127, 173);
  color: #ffffff;
  border-color: #03881c;
  width: 100%;
}
