.App {
  min-height: 100%;
}

.AppContainer {
  padding: 0 20px !important;
}

.AppPage {
  background: #e5f2f7;
  padding: 40px 0;
}

.AppSider {
  background: #e5f2f7;
}

.SearchTree {
  background: inherit;
}
