body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-layout-header {
  background: white;
}

.ant-layout-sider-children {
  background: white;
}

.ant-list-item {
  float: left;
  margin: 4px;
}

.logo {
  float: left;
}

#map {
  width: 280px;
  height: 420px;
}
